# Ignore Files #
################
/Data
/Figures
/Logs
/Models/Bressan/Z0.0001Y0.249
/Models/Feiden/iso
/Models/MIST/MIST_v1.2_feh_p0.00_afe_p0.0_vvcrit0.0_EEPS
/Model/Siess/siess_for_lingfeng
/Star Formation Simulation

# Python Files #
################
__pycache__
.ipynb_checkpoints
.vscode

# Results #
###########
/Codes/data_processing/linear*
/Codes/data_processing/power*
/Codes/data_processing/offset fit/

# Unused Files #
################
