# Ignore Files #
################
/data
/figures
/logs
/models/Bressan/Z0.0001Y0.249
/models/Feiden/iso
/models/MIST/MIST_v1.2_feh_p0.00_afe_p0.0_vvcrit0.0_EEPS
/models/Siess/siess_for_lingfeng
/star_formation_simulation

# Python Files #
################
__pycache__
.ipynb_checkpoints
.vscode

# Results #
###########
/codes/analysis/*results

# Test Files #
##############
test*
temp*

# Unused Files #
################
/observing/hlsp_orion_hst_acs_colorimage_r_v1_drz.fits
/codes/binary_proposal/data/
/codes/binary_proposal/figures/
/codes/binary_simulation/data/
/codes/analysis/vdisp/
/codes/analysis/*.txt
/codes/analysis/*.png
/models/MIST/MIST_v1.2_feh_p0.00_afe_p0.0_vvcrit0.0_basic.iso
/models/MIST/MIST_v1.2_feh_p0.00_afe_p0.0_vvcrit0.0_UBVRIplus.iso.cmd
/models/Palla/palla.mass
catalogs/fix.py
